* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 40px auto;
    padding-top: 50px;
}

.logo {
    height: 40px;
    position: absolute;
    top: 6px;
    left: 0;
    padding: 4px 44px 0 24px;
    left: -160px;
}

.container .heading {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 3px solid #222;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.container .heading h1 {
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
}

.container .heading h1 span {
    font-weight: 100;
}

p {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
    margin: 15px;

}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .box .column {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 10px;
    flex: 1 1 30%;
}

.container .box .column img {
    width: 100%;
    display: block;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid rgb(204, 204, 204);
}

.cats:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: grab;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(113, 128, 147);
    color: white;
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
}

.contact a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(0, 26, 255);
}

.button {
    color: rgb(255, 255, 255);
    margin: 40px 0 40px 0;
    background: rgb(113, 128, 147);
    padding: 15px 40px;
    border-radius: 5px;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.button:hover {
    background: rgb(81, 108, 143);
    transition: background 0.3s ease;
    cursor: pointer;
}